

    </main>
    <footer id="amo-footer">
      <div id="amo-footer-container">
          <nav id="amo-footer-nav">
              <ul class="amo-footer-menu">
                  <li><a href="/" class="amo-footer-link">Home</a></li>
                  <li><a href="/book" class="amo-footer-link">Book</a></li>
                  <li><a href="/about" class="amo-footer-link">About</a></li>
                  <li><a href="/contact" class="amo-footer-link">Contact</a></li>
              </ul>
          </nav>
          <p id="amo-footer-text">© <span id="amo-year"></span> AMO FOUNDATION INDIA. All Rights Reserved.</p>
      </div>
  </footer>
  
  <script>
    document.getElementById("amo-year").textContent = new Date().getFullYear();
  </script>

</body>
</html>